.footer-container {
    background-color: #E3C7A6;
    padding: 10px 40px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.09);
    /* shadow on top */
    color: #3F2A1C;
    font-weight: 500;
}

.footer-container label {
    color: #3F2A1C;
    font-weight: 600;
    font-family: cursive;
}

.footer-container a {
    color: #3F2A1C;
    text-decoration: none;
    font-weight: 500;
}

.footer-container ion-icon {
    font-size: 20px;
    vertical-align: middle;
}

.footer-container a:hover ion-icon {
    color: #A06D47;
    /* same hover effect as navbar links */
}

/* Mobile View */
@media (max-width: 768px) {
    .footer-container {
        text-align: center;
    }

    .footer-container .col-md-6,
    .footer-container .col-md-2 {
        margin-bottom: 10px;
    }
}