<div class="footer-container">
    <div class="row">
        <div class="col-md-6">
            <label>© 2025 by Sandhiya.</label><br>
            <a href="mailto:sandhiya.sivakumar0308&#64;gmail.com">
                sandhiya.sivakumar0308&#64;gmail.com
            </a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2 text-center">
            <label>Call</label><br>
            <a>9597193043</a>
        </div>
        <div class="col-md-2 text-center">
            <label>Follow</label><br>
            <a href="https://github.com/Sandhiya0308" class="me-3" target="_blank" rel="noopener noreferrer">
                <ion-icon name="logo-github" style="color: black;"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/in/sandhiya-s-97b40927a" class="me-3" target="_blank"
                rel="noopener noreferrer">
                <ion-icon name="logo-linkedin" style="color: blue;"></ion-icon>
            </a>
        </div>
    </div>
</div>